
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

/* Top banner */
.flex-topImage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  padding: 2px;
  flex-wrap: wrap;
}

.flex-topImage > div {
  padding: 2px;
  font-size: 2rem;
  text-align: center;
}

/* Header: Edwards */
.flex-Edwards {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 4rem;
  padding: 5px;
  color: black;
  width: 100%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

/* Header: Appliance Repair */
.flex-containerAppRep {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px;
  color: white;
  width: 100%;
  font-family: "Big Shoulders", sans-serif;
  letter-spacing: 8px;
  font-size: 2rem;
}

/* Name Section */
.flex-containerName {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
}

/* Services Section */
.flex-containerServices {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
  width: 100%;
  font-size: 1.2rem;
  overflow-x: auto;
}

th, td {
  padding: 2px;
  text-align: left;
}


.flex-containerEmail {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px;
  color: white;
  width: 100%;
  font-family: "Big Shoulders", sans-serif;
  letter-spacing: 8px;
  font-size: 2rem;
}

/* Contact Section */
.contact-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: black;
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.contact-inputs {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 50%;
}

button {
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}

/* ----------- Media Queries ----------- */
@media (max-width: 800px) {
  .flex-topImage {
    flex-direction: column;
    font-size: 1.5rem;
  }

  .flex-Edwards,
  .flex-containerAppRep,
  .flex-containerName,
  .flex-containerServices {
    font-size: 1.5rem;
    text-align: center;
    padding: 2px;
  }

  .flex-containerEmail{
    font-size: 1rem;
    text-align: center;
    padding: 2px;
    letter-spacing: 4px;
  }

  table {
    width: 100%;
    font-size: 1rem;
  }

  th, td {
    padding: 3px;
  }

  .contact-container {
    padding: 10px;
  }

  .flex-topImage > div {
    padding: 2px;
    font-size: 1rem;
    text-align: center;
  }


}

